
/*-------------------------------------------------------
                  GLOBAL RESET OPTION
-------------------------------------------------------*/
*,
*::after,
*::before {
  box-sizing: border-box;
  text-decoration: none;
  font-family: $brand_color;
}

html {
  overflow-x: hidden;
  overflow-x: auto;

  body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    background: $body_color;

    ul {
      padding: 0;
      margin: 0;
    }

    li {
      list-style-type: none;
      list-style: none;
    }
  }
}

input,
select {
  &:focus,
  &:active {
    outline: none !important;
  }
}

/*-------------------------------------------------------
                  MIXIN ADD TO CLASS
-------------------------------------------------------*/
.main_header {
  @include mainHeader();
}

.sub_header {
  @include SubHeader();
}

.sub_title {
  @include Subtitle();
}

.common_btn {
  @include buttons();
}

/*-------------------------------------------------------
                  BUTTON COMMON STYLE
-------------------------------------------------------*/
.ctx_btn {
  position: relative;
  overflow: hidden;
  transition: 0.25s ease-in-out all;

  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    content: "";
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  &:hover {
    &::before {
      -webkit-animation: circle 0.73s;
      animation: circle 0.73s;
    }
  }
}

@keyframes circle {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}