@mixin mainHeader($fontSize: 37px) {
    font-weight: 600;
    color: $primary_color;
    font-family: $roboto;
    font-size: $fontSize;
    letter-spacing: 0.3px;
}

@mixin SubHeader($fontSize: 14px) {
    font-weight: 700;
    font-size: $fontSize;
    color: $primary_color;
    margin-bottom: 12px;
    font-family: $roboto;
    letter-spacing: 0.3px;
}

@mixin Subtitle($fontSize: 14px) {
    font-weight: 700;
    font-size: $fontSize;
    color: $secondary_color;
    margin-bottom: 12px;
    font-family: $open_sans;
    letter-spacing: 0.3px;
}

@mixin flex($justifyContent: center, $alignItems: center) {
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

