@mixin mainHeader($fontSize: 32px, $fontFamily: $roboto) {
    font-weight: 600;
    color: $primary_color;
    font-family: $fontFamily;
    font-size: $fontSize;
    letter-spacing: 0.3px;
}

@mixin SubHeader($fontSize: 14px, $fontFamily: $roboto, $color: $secondary_color) {
    font-weight: 700;
    font-size: $fontSize;
    color: $color;
    font-family: $fontFamily;
    letter-spacing: 0.3px;
}

@mixin Subtitle($fontSize: 13px) {
    font-weight: 600;
    font-size: $poppins;
    font-size: $fontSize;
    color: $text_lite;
    margin-bottom: 12px;
    font-family: $open_sans;
    letter-spacing: 0.3px;
}

@mixin flex($justifyContent: center, $alignItems: center) {
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

@mixin buttons ($bgColor: $blue_color, $color: #fff, $radius: false) {
    color: $color;
    background: $bgColor;
    padding: 8px 13px;
    font-size: 13.5px;
    font-weight: 500;
    font-family: "Open Sans";
    line-height: 21px;
    border: none;
    cursor: pointer;
    letter-spacing: 0.3px;
    white-space: nowrap;

    @if $radius {
        border-radius: 30px;
    }
    @else {
        border-radius: 5px;
    }
}

@mixin commonPara($fontSize: 13px, $color: #7F8FA4) {
    color: $color;
    font-size: $fontSize;
    font-family: $open_sans;
}