//========= Font variable ==========//
$roboto : 'Roboto';
$open_sans : 'Open Sans';
$muli : 'Mulish';
$baloo : 'Baloo Da 2';
$poppins : 'Poppins';


//========= Color variable ==========//
$brand_color : #FFA101;
$primary_color : #11141A;
$secondary_color : #354052;
$text_lite : #7F8FA4;
$danger_color : #F35162;
$button_color : #322A7D;
$body_color : #f0f0f0;