//========= Font variable ==========//
$roboto : 'Roboto', sans-serif;
$open_sans : 'Open Sans', sans-serif;
$muli : 'Mulish', sans-serif;
$baloo : 'Baloo Da 2', sans-serif;
$poppins : 'Poppins', sans-serif;


//========= Color variable ==========//
$brand_color : #FFA101;
$brand_color_2 : #d69421;
$primary_color : #313a4d;
$secondary_color : #485365;
$text_lite : #7F8FA4;
$danger_color : #F35162;
$warning_color : #FFA101;
$blue_color : #322A7D;
$body_color : #ECEEF2;
$lite_gray_color : #BBC5D5;