@import "./variants/_fonts.scss";
@import "./variants/_variables.scss";
@import "./variants/_mixins.scss";
@import "./variants/_global.scss";

/*-------------------------------------------------------
                SIDEBAR SECTION START
-------------------------------------------------------*/
.side_bar_section {
    position: absolute;
    inset: 0 auto 0 0;
    background: white;
    max-width: fit-content;
    height: 100vh;

    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.05);

    .side_bar_container {
        @include flex(space-between);
        flex-direction: column;
        height: 100%;
        padding: 11px 0px;
    }
}

.side_bar_list {
    li {
        @include flex();
        cursor: pointer;
        padding: 5px 15px;

        &:not(:first-child) {
            margin-top: 20px;
        }

        &.active {
            border-right: 4px solid $brand_color;
        }
    }
}
/*-------------------------------------------------------
                SIDEBAR SECTION END
-------------------------------------------------------*/

/*-------------------------------------------------------
                DASH MAIN HEADER START
-------------------------------------------------------*/
.dashboard_wrapper {
    overflow-x: hidden;
    height: 100vh;

    padding: 0px 0px 0px 85px;
    display: flex;
    gap: 30px;

    .dashboard_left_section {
        padding: 12px 0px 12px 0;
    }

    .dashbboard_left_wrapper {
        flex: 1 1 calc(70% - 30px);
        max-width: 70%;
    }
    .dashboard_right_wrapper {
        flex: 1 1 calc(30% - 30px);
        max-width: 30%;
    }
}

.dash_header_section {
    .dash_header_container {
        border-bottom: 1px solid #e5e5e5;

        @include flex(space-between);
        .header_area {
            .main_header {
                margin-bottom: 5px;
            }
        }
    }
}
/*-------------------------------------------------------
                DASH MAIN HEADER END
-------------------------------------------------------*/

/*-------------------------------------------------------
                  STATUS SECTION START
-------------------------------------------------------*/
.dash_status_section {
    width: 100%;
    padding: 15px 0px;

    .status_main {
        .sub_header {
            @include SubHeader(13px, $roboto, #5e6877);
            font-weight: 500;
        }
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .status_box {
            background: white;
            box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.05);
            padding: 15px 16px;
            flex: 1 1 calc(25% - 20px);
            border-radius: 8px;
            position: relative;
            overflow: hidden;
            transition: 0.15s linear all;

            h3 {
                font-family: $poppins;
                font-size: 22px;
                font-weight: 600;
                color: #444343;
                margin: 0;

                img {
                    margin-left: 3px;
                }
            }
            &:nth-child(2) {
                h3 {
                    color: $danger_color;
                }
            }
            &:nth-child(2) {
                h3 {
                    color: $danger_color;
                }
            }

            &::before {
                content: "";
                position: absolute;
                right: -72px;
                bottom: -72px;
                width: 100px;
                height: 100px;
                background: linear-gradient(176deg, #ffa101, #d69421);
                transform: rotate(45deg);
                opacity: 0.95;
                transition: 0.35s ease-in-out all;
                border-radius: 50%;
            }

            &:hover {
                box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
                transform: scale(1.05);

                &::before {
                    right: -68px;
                    bottom: -68px;
                }
            }
        }
    }
}

/*-------------------------------------------------------
                  STATUS SECTION END
-------------------------------------------------------*/

/*-------------------------------------------------------
                  BOOKING SECTION START
-------------------------------------------------------*/
.booking_section {
    width: 100%;
    padding: 15px 0px;

    .booking_tab_button {
        display: flex;
        align-items: center;
        gap: 20px;

        .booking_btn {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;

            all: unset;
            position: relative;
            cursor: pointer;
            color: $lite_gray_color;
            font-size: 15px !important;
            transition: 0.25s ease-in-out all;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: -7px;
                transition: 0.25s ease-in-out all;
                width: 0%;
                height: 3px;
                background: $brand_color;
            }

            &.active {
                font-size: 17px !important;
                color: $secondary_color;
                font-weight: 700;
                position: relative;
                transition: 0.25s ease-in-out all;

                &::before {
                    width: 80%;
                }
            }

            &:hover {
                &::before {
                    width: 80%;
                }
            }
        }
    }

    .booking_tab_detail {
        margin-top: 10px;
    }
}

.booking_tab_detail {
    .single_box {
        background-color: white;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.05);
        padding: 15px 18px;
        border-radius: 8px;
        margin-top: 20px;

        .top_section {
            h4 {
                margin: 0;
            }
            p {
                font-size: 13px;
                font-family: $poppins;
                margin-top: 5px;
                color: #676c85;
                font-weight: 600;
            }
        }

        .center_section {
            @include flex(space-between);
            max-width: 180px;

            p {
                color: $text_lite;
                color: #7f8fa4;
                margin-bottom: 5px;
                font-size: 13px;
            }
            h3 {
                color: $text_lite;
                color: #7f8fa4;
                margin-bottom: 5px;
                font-size: 13px;
            }
        }

        .bottom_section {
            @include flex(space-between);
            padding-top: 8px;
            border-top: 1px solid #e5e5e5;
            margin-top: 17px;
            * {
                margin-bottom: 0 !important;
            }
            h3 {
                color: $blue_color;
            }
            p {
                @include Subtitle(12px);
            }
        }
    }
}

.tabcontent {
    animation: showBookingMenu 0.3s ease-in-out forwards;
    transform: scale(0.85);
    opacity: 0;

    @keyframes showBookingMenu {
        0% {
            transform: scale(0.85);
            opacity: 0;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
}
/*-------------------------------------------------------
                  BOOKING SECTION END
-------------------------------------------------------*/

/*-------------------------------------------------------
                PROFILE/SEARCH SECTION START
-------------------------------------------------------*/
.dashboard_right_section {
    background: white;
    height: 100%;


    .profile_section {
        padding: 15px 18px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}

.search_area {
    @include flex(unset);
    gap: 25px;

    .single_input {
        flex-grow: 1;
        position: relative;

        input {
            border-radius: 30px;
            padding-left: 50px;
        }

        &::before {
            content: "\f002";
            font-family: "fontAwesome";
            display: inline-block;
            position: absolute;
            left: 15px;
            top: 50%;
            transform: translateY(-50%);
            color: #354052;
            font-size: 15px;
            width: 26px;
            border-right: 1px solid #ebebeb;
        }
    }

    .notifi_icon {
        @include flex();
        width: 38px;
        height: 38px;
        background: #ebebeb;
        border-radius: 50%;
    }
}
/*-------------------------------------------------------
                PROFILE/SEARCH SECTION END
-------------------------------------------------------*/

/*-------------------------------------------------------
                PROFILE/USER SECTION START
-------------------------------------------------------*/
.user_section {
    width: 100%;
    @include flex(unset);
    gap: 10px;
    margin-top: 25px;

    .left_section {
        .sub_header {
            @include SubHeader(16px, $muli, #5e6877);
            font-weight: 500;
        }
        p {
            @include commonPara(12px);
        }
        h2 {
            @include SubHeader(25px, $muli);
        }
    }
    .right_section {
        @include flex();
        width: 177px;
    }
}

.copy_profile {
    width: 100%;
    @include flex(space-between);
    gap: 15px;
    margin-top: 5px;

    .copy_text_area {
        @include flex();
        position: relative;

        input {
            padding: 9px 57px 9px 15px;
            border-radius: 30px;
            position: relative;
            @include SubHeader();
            font-weight: 500;
            height: 37px;
            color: #747d8d !important;

            &[setDesabled] {
                background-color: #ececec;
                border: none;
                pointer-events: none;
            }
        }

        .copy_btn {
            @include flex();
            position: absolute;
            right: 6px;
            top: 50%;
            transform: translateY(-50%);
            color: #354052;
            font-size: 14px;
            width: 32px;
            border-left: 1px solid #c7c7c7;
            cursor: pointer;
        }
    }

    .edit_btn {
        button {
            @include buttons(#dbbbff, $blue_color, true);
            transition: 0.25s ease-in-out all;

            &:hover {
                background-color: $blue_color;
                color: #fff;
            }
        }
    }

    .copy_success {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 30px;
        margin: auto;
        @include flex(space-between);
        background-color: white;
        box-shadow: 1px 1px 14px 0px rgba(0, 0, 0, 0.25);
        max-width: 180px;
        width: 100%;
        padding: 10px 20px;
        border-radius: 5px;
        border-left: 3px solid #44c79d;
        transition: 0.35s cubic-bezier(0.48, -0.12, 0.29, 1.3) all;
        transform: scale(0);
        opacity: 0;

        p {
            margin: 0;
            font-size: 16px;
            font-family: $roboto;
            font-weight: 500;
            color: #6d6d6d;
            letter-spacing: 0.3px;
        }

        i {
            font-size: 20px;
        }

        &.copied {
            opacity: 1;
            transform: scale(1);
        }
    }
}
/*-------------------------------------------------------
                PROFILE/USER SECTION END
-------------------------------------------------------*/

/*-------------------------------------------------------
                PROFILE/USER SECTION START
-------------------------------------------------------*/
.upgrade_section {
    background: linear-gradient(to left, #04215ee3, #04215ee3), url("../images/Pattern.svg") repeat-x;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    @include flex(space-between);
    margin-top: 30px;
    animation: moveBg 60s linear alternate infinite;

    // upgrade bg animation
    @keyframes moveBg {
        0% {
            background-position-x: 0;
        }
        100% {
            background-position-x: 1500px;
        }
    }

    // premium icon animation
    &:hover {
        .primium_icon {
            animation: zoomUp 0.4s ease-in-out forwards;

            @keyframes zoomUp {
                0% {
                    transform: scale(1);
                }
                50% {
                    transform: scale(1.2);
                }
                100% {
                    transform: scale(1);
                }
            }
        }
    }

    .left_section {
        h3 {
            @include mainHeader(20px);
            color: white;
        }

        p {
            @include Subtitle();
            margin-bottom: 0;
        }
    }

    .right_section {
        .primium_icon {
            @include flex();
            width: 50px;
            height: 50px;
            background: $brand_color;
            padding: 10px;
            border-radius: 50%;
            transition: 0.25s ease-in-out all;

            svg {
                path {
                    fill: white;
                }
            }
        }
    }
}
/*-------------------------------------------------------
                PROFILE/USER SECTION START
-------------------------------------------------------*/

/*-------------------------------------------------------
                 REMIND SECTION START
-------------------------------------------------------*/
.remind_section {
    width: 100%;
    margin-top: 30px;

    .main_head {
        @include flex(space-between);

        h3 {
            @include SubHeader(18.5px);
        }

        p {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 7px;
            color: $brand_color;
            font-size: 13px;

            i {
                -webkit-text-stroke: 0.4px white;
            }
        }
    }
}

.notification_list {
    margin-top: 20px;

    .single_list {
        @include flex(unset);
        gap: 23px;

        &:not(:first-child) {
            margin-top: 26px;
        }

        .icon {
            @include flex();
            width: 45px;
            height: 45px;
            background-color: #eee;
            border-radius: 15px;
        }

        .msg_area {
            h3 {
                @include SubHeader(15px);
                margin-bottom: 5px;
            }

            p {
                margin-bottom: 0 !important;
                @include Subtitle(13px);
                letter-spacing: 0;
                font-weight: 500 !important;
            }
        }

        &:nth-child(1) {
            .icon {
                background-color: #f3516138;
                i {
                    color: $danger_color;
                    font-size: 22px;
                }
            }
        }
        &:nth-child(2) {
            .icon {
                background-color: #ffa20128;
                i {
                    color: $warning_color;
                    font-size: 22px;
                }
            }
        }
        &:nth-child(3) {
            .icon {
                background-color: #f3516138;
                i {
                    color: $danger_color;
                    font-size: 22px;
                }
            }
        }
    }
}
/*-------------------------------------------------------
                 REMIND SECTION END
-------------------------------------------------------*/


.mobile_toggle_menu {
    position: absolute;
    right: 20px;
    top: 14px;
    width: 45px;
    height: 45px;
    @include flex();
    border-radius: 50%;
    background: white;
    box-shadow: 1px 1px 20px rgba(0,0,0,0.25);
    cursor: pointer;
    display: none;

    i {
        font-size: 22px;
        color: #6b6b6b;
        -webkit-text-stroke: 0.5px white;
    }

    &.active {
        i::before {
            content: '\f00d';
            font-family: 'fontAwesome';
        }
    }
}

/*-------------------------------------------------------
                    PRELOADER-STYLE START
-------------------------------------------------------*/

.preloader__wrapper {
	min-height: 100vh;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
    @include flex();
	flex-direction: column;
	z-index: 99999;
	background-color: white;
	opacity: 1;
	visibility: visible;
	-webkit-transition: 0.6s ease all;
	-o-transition: 0.6s ease all;
	transition: 0.6s ease all;

    &.bg_done {
        opacity: 0;
        visibility: hidden;
    }   

    .preloader__img {
        text-align: center;
        width: 130px;
        transition: 0.6s ease all;
        animation: fadeUpp 0.25s linear infinite alternate;
        margin-bottom: 20px;

        &.loader_done {
            opacity: 0;
            pointer-events: none;
            -webkit-transform: scale(1.8);
            -ms-transform: scale(1.8);
            transform: scale(1.8)
        }
    }
}

@keyframes fadeUpp {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

/*--- preloader ---*/
.pace {
	pointer-events: none;
	    user-select: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999999;
	transform: translate3d(0, -50px, 0);
	transition: transform .7s ease-out;

    &.pace-active {
        transform: translate3d(0, 0, 0);
    }

    .pace-progress {
        display: block;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 3px;
        background: $brand_color;  
        pointer-events: none;
        border-radius: 3rem;
    }
  }
  
/*-------------------------------------------------------
                    PRELOADER-STYLE END
-------------------------------------------------------*/

/*-------------------------------------------------------
                MEDIA QUERY START
-------------------------------------------------------*/
@media (max-width: 1183px) {
    .dashboard_wrapper {
        padding: 0px 20px 0px 85px;
    }
    
    .dashbboard_left_wrapper {
        flex: 1 1 100% !important;
        max-width: 100% !important;
    }

    .dashboard_right_wrapper {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
        transform: translateX(100%);
        transition: 0.25s ease-in-out all;
        display: none;
        flex: unset !important;
        max-width: 350px !important;
        width: 100%;

        &.active {
            transition: 0.25s ease-in-out all;
            transform: translateX(0%);
            display: block; 
        }
    }


    .mobile_toggle_menu {
        display: flex;
        transition: 0.1s linear all;
        
    }
}

@media (max-width: 767.9px) {
    .status_main {
        .status_box {
            flex: 1 1 calc(50% - 25px) !important;
        }
    }

    .side_bar_container {
        display: none !important;
    }
    
    .dashboard_wrapper {
        padding: 0px 20px 0px 20px;
    }

    .mobile_toggle_menu {
        left: 20px;
        box-shadow: 1px 1px 10px rgba(0,0,0,0.20);

        &.active {
            transform: translateX(80vw);
        }
    }


    .dashboard_right_wrapper {
        position: absolute;
        right: auto !important;
        left: 0 !important;
        max-width: 330px !important;

        &.active {
            transition: 0.25s ease-in-out all;
            transform: translateX(0%);
            display: block; 
        }
    }

    .dash_header_container {
        flex-direction: column;
        padding-bottom: 18px;
        border-bottom: 1px solid #322a7d30 !important;
        margin-bottom: 10px;

        .sub_title {
            text-align: center;
        }
    }

    .dash_status_container {
        .sub_header {
            font-size: 15px !important;
            margin-bottom: 12px !important;
            padding-left: 5px !important;
        }
    }

    .dashboard_left_section {
        padding: 23px 0px 23px 0 !important;
    }

}

@media (max-width: 568px) {
    .status_main {
        .status_box {
            flex: 1 1 100% !important;
        }
    }
}
/*-------------------------------------------------------
                MEDIA QUERY END
-------------------------------------------------------*/
