@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url("../fonts/Mulish-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url("../fonts/Mulish-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url("../fonts/Mulish-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url("../fonts/Mulish-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url("../fonts/Mulish-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url("../fonts/Mulish-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url("../fonts/Mulish-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url("../fonts/Mulish-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Baloo Da 2';
  src: url("../fonts/BalooDa2-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Baloo Da 2';
  src: url("../fonts/BalooDa2-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Baloo Da 2';
  src: url("../fonts/BalooDa2-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Baloo Da 2';
  src: url("../fonts/BalooDa2-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Baloo Da 2';
  src: url("../fonts/BalooDa2-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*-------------------------------------------------------
                  GLOBAL RESET OPTION
-------------------------------------------------------*/
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: #FFA101;
}

html {
  overflow-x: hidden;
}

html body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #ECEEF2;
}

html body ul {
  padding: 0;
  margin: 0;
}

html body li {
  list-style-type: none;
  list-style: none;
}

input:focus, input:active,
select:focus,
select:active {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #ced4da  !important;
}

button:focus {
  outline: none !important;
}

/*-------------------------------------------------------
                  MIXIN ADD TO CLASS
-------------------------------------------------------*/
.main_header {
  font-weight: 600;
  color: #313a4d;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  letter-spacing: 0.3px;
}

.sub_header {
  font-weight: 700;
  font-size: 14px;
  color: #485365;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.3px;
}

.sub_title {
  font-weight: 600;
  font-size: "Poppins", sans-serif;
  font-size: 13px;
  color: #7F8FA4;
  margin-bottom: 12px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.3px;
}

.common_btn {
  color: #fff;
  background: #322A7D;
  padding: 8px 13px;
  font-size: 13.5px;
  font-weight: 500;
  font-family: "Open Sans";
  line-height: 21px;
  border: none;
  cursor: pointer;
  letter-spacing: 0.3px;
  white-space: nowrap;
  border-radius: 5px;
}

/*-------------------------------------------------------
                  BUTTON COMMON STYLE
-------------------------------------------------------*/
.ctx_btn {
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.25s ease-in-out all;
  transition: 0.25s ease-in-out all;
}

.ctx_btn::before {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 2;
  content: "";
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}

.ctx_btn:hover::before {
  -webkit-animation: circle 0.73s;
  animation: circle 0.73s;
}

@-webkit-keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

@keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

/*-------------------------------------------------------
                  SCROLL BAR COMMON
-------------------------------------------------------*/
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #9d9ca8ce;
  border-radius: 30px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  margin-top: 20px;
}

/*-------------------------------------------------------
                SIDEBAR SECTION START
-------------------------------------------------------*/
.side_bar_section {
  position: absolute;
  inset: 0 auto 0 0;
  background: white;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: 100vh;
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.05);
          box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.05);
}

.side_bar_section .side_bar_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 11px 0px;
}

.side_bar_list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 5px 15px;
}

.side_bar_list li:not(:first-child) {
  margin-top: 20px;
}

.side_bar_list li.active {
  border-right: 4px solid #FFA101;
}

/*-------------------------------------------------------
                SIDEBAR SECTION END
-------------------------------------------------------*/
/*-------------------------------------------------------
                DASH MAIN HEADER START
-------------------------------------------------------*/
.dashboard_wrapper {
  overflow-x: hidden;
  height: 100vh;
  padding: 0px 0px 0px 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.dashboard_wrapper .dashboard_left_section {
  padding: 12px 0px 12px 0;
}

.dashboard_wrapper .dashbboard_left_wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(70% - 30px);
          flex: 1 1 calc(70% - 30px);
  max-width: 70%;
}

.dashboard_wrapper .dashboard_right_wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(30% - 30px);
          flex: 1 1 calc(30% - 30px);
  max-width: 30%;
}

.dash_header_section .dash_header_container {
  border-bottom: 1px solid #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dash_header_section .dash_header_container .header_area .main_header {
  margin-bottom: 5px;
}

/*-------------------------------------------------------
                DASH MAIN HEADER END
-------------------------------------------------------*/
/*-------------------------------------------------------
                  STATUS SECTION START
-------------------------------------------------------*/
.dash_status_section {
  width: 100%;
  padding: 15px 0px;
}

.dash_status_section .status_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.dash_status_section .status_main .sub_header {
  font-weight: 700;
  font-size: 13px;
  color: #5e6877;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.3px;
  font-weight: 500;
}

.dash_status_section .status_main .status_box {
  background: white;
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.05);
          box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.05);
  padding: 15px 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(25% - 20px);
          flex: 1 1 calc(25% - 20px);
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.15s linear all;
  transition: 0.15s linear all;
}

.dash_status_section .status_main .status_box h3 {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #444343;
  margin: 0;
}

.dash_status_section .status_main .status_box h3 img {
  margin-left: 3px;
}

.dash_status_section .status_main .status_box:nth-child(2) h3 {
  color: #F35162;
}

.dash_status_section .status_main .status_box:nth-child(2) h3 {
  color: #F35162;
}

.dash_status_section .status_main .status_box::before {
  content: "";
  position: absolute;
  right: -72px;
  bottom: -72px;
  width: 100px;
  height: 100px;
  background: linear-gradient(176deg, #ffa101, #d69421);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0.95;
  -webkit-transition: 0.35s ease-in-out all;
  transition: 0.35s ease-in-out all;
  border-radius: 50%;
}

.dash_status_section .status_main .status_box:hover {
  -webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.dash_status_section .status_main .status_box:hover::before {
  right: -68px;
  bottom: -68px;
}

/*-------------------------------------------------------
                  STATUS SECTION END
-------------------------------------------------------*/
/*-------------------------------------------------------
                  BOOKING SECTION START
-------------------------------------------------------*/
.booking_section {
  width: 100%;
  padding: 15px 0px;
}

.booking_section .booking_tab_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.booking_section .booking_tab_button .booking_btn {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  all: unset;
  position: relative;
  cursor: pointer;
  color: #BBC5D5;
  font-size: 15px !important;
  -webkit-transition: 0.25s ease-in-out all;
  transition: 0.25s ease-in-out all;
}

.booking_section .booking_tab_button .booking_btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  -webkit-transition: 0.25s ease-in-out all;
  transition: 0.25s ease-in-out all;
  width: 0%;
  height: 3px;
  background: #FFA101;
}

.booking_section .booking_tab_button .booking_btn.active {
  font-size: 17px !important;
  color: #485365;
  font-weight: 700;
  position: relative;
  -webkit-transition: 0.25s ease-in-out all;
  transition: 0.25s ease-in-out all;
}

.booking_section .booking_tab_button .booking_btn.active::before {
  width: 80%;
}

.booking_section .booking_tab_button .booking_btn:hover::before {
  width: 80%;
}

.booking_section .booking_tab_detail {
  margin-top: 10px;
}

.booking_tab_detail .single_box {
  background-color: white;
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.05);
          box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.05);
  padding: 15px 18px;
  border-radius: 8px;
  margin-top: 20px;
}

.booking_tab_detail .single_box .top_section h4 {
  margin: 0;
}

.booking_tab_detail .single_box .top_section p {
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  margin-top: 5px;
  color: #676c85;
  font-weight: 600;
}

.booking_tab_detail .single_box .center_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 180px;
}

.booking_tab_detail .single_box .center_section p {
  color: #7F8FA4;
  color: #7f8fa4;
  margin-bottom: 5px;
  font-size: 13px;
}

.booking_tab_detail .single_box .center_section h3 {
  color: #7F8FA4;
  color: #7f8fa4;
  margin-bottom: 5px;
  font-size: 13px;
}

.booking_tab_detail .single_box .bottom_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 8px;
  border-top: 1px solid #e5e5e5;
  margin-top: 17px;
}

.booking_tab_detail .single_box .bottom_section * {
  margin-bottom: 0 !important;
}

.booking_tab_detail .single_box .bottom_section h3 {
  color: #322A7D;
}

.booking_tab_detail .single_box .bottom_section p {
  font-weight: 600;
  font-size: "Poppins", sans-serif;
  font-size: 12px;
  color: #7F8FA4;
  margin-bottom: 12px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.3px;
}

.tabcontent {
  -webkit-animation: showBookingMenu 0.3s ease-in-out forwards;
          animation: showBookingMenu 0.3s ease-in-out forwards;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  opacity: 0;
}

@-webkit-keyframes showBookingMenu {
  0% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes showBookingMenu {
  0% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

/*-------------------------------------------------------
                  BOOKING SECTION END
-------------------------------------------------------*/
/*-------------------------------------------------------
                PROFILE/SEARCH SECTION START
-------------------------------------------------------*/
.dashboard_right_section {
  background: white;
  height: 100%;
}

.dashboard_right_section .profile_section {
  padding: 15px 18px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

.search_area .single_input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}

.search_area .single_input input {
  border-radius: 30px;
  padding-left: 50px;
}

.search_area .single_input::before {
  content: "\f002";
  font-family: "fontAwesome";
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #354052;
  font-size: 15px;
  width: 26px;
  border-right: 1px solid #ebebeb;
}

.search_area .notifi_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 38px;
  height: 38px;
  background: #ebebeb;
  border-radius: 50%;
}

/*-------------------------------------------------------
                PROFILE/SEARCH SECTION END
-------------------------------------------------------*/
/*-------------------------------------------------------
                PROFILE/USER SECTION START
-------------------------------------------------------*/
.user_section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: 25px;
}

.user_section .left_section .sub_header {
  font-weight: 700;
  font-size: 16px;
  color: #5e6877;
  font-family: "Mulish", sans-serif;
  letter-spacing: 0.3px;
  font-weight: 500;
}

.user_section .left_section p {
  color: #7F8FA4;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}

.user_section .left_section h2 {
  font-weight: 700;
  font-size: 25px;
  color: #485365;
  font-family: "Mulish", sans-serif;
  letter-spacing: 0.3px;
}

.user_section .right_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 177px;
}

.copy_profile {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  margin-top: 5px;
}

.copy_profile .copy_text_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.copy_profile .copy_text_area input {
  padding: 9px 57px 9px 15px;
  border-radius: 30px;
  position: relative;
  font-weight: 700;
  font-size: 14px;
  color: #485365;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.3px;
  font-weight: 500;
  height: 37px;
  color: #747d8d !important;
}

.copy_profile .copy_text_area input[setDesabled] {
  background-color: #ececec;
  border: none;
  pointer-events: none;
}

.copy_profile .copy_text_area .copy_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 6px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #354052;
  font-size: 14px;
  width: 32px;
  border-left: 1px solid #c7c7c7;
  cursor: pointer;
}

.copy_profile .edit_btn button {
  color: #322A7D;
  background: #dbbbff;
  padding: 8px 13px;
  font-size: 13.5px;
  font-weight: 500;
  font-family: "Open Sans";
  line-height: 21px;
  border: none;
  cursor: pointer;
  letter-spacing: 0.3px;
  white-space: nowrap;
  border-radius: 30px;
  -webkit-transition: 0.25s ease-in-out all;
  transition: 0.25s ease-in-out all;
}

.copy_profile .edit_btn button:hover {
  background-color: #322A7D;
  color: #fff;
}

.copy_profile .copy_success {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  -webkit-box-shadow: 1px 1px 14px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 14px 0px rgba(0, 0, 0, 0.25);
  max-width: 180px;
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  border-left: 3px solid #44c79d;
  -webkit-transition: 0.35s cubic-bezier(0.48, -0.12, 0.29, 1.3) all;
  transition: 0.35s cubic-bezier(0.48, -0.12, 0.29, 1.3) all;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

.copy_profile .copy_success p {
  margin: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #6d6d6d;
  letter-spacing: 0.3px;
}

.copy_profile .copy_success i {
  font-size: 20px;
}

.copy_profile .copy_success.copied {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

/*-------------------------------------------------------
                PROFILE/USER SECTION END
-------------------------------------------------------*/
/*-------------------------------------------------------
                PROFILE/USER SECTION START
-------------------------------------------------------*/
.upgrade_section {
  background: -webkit-gradient(linear, right top, left top, from(#04215ee3), to(#04215ee3)), url("../images/Pattern.svg") repeat-x;
  background: linear-gradient(to left, #04215ee3, #04215ee3), url("../images/Pattern.svg") repeat-x;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  -webkit-animation: moveBg 60s linear alternate infinite;
          animation: moveBg 60s linear alternate infinite;
}

@-webkit-keyframes moveBg {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1500px;
  }
}

@keyframes moveBg {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1500px;
  }
}

.upgrade_section:hover .primium_icon {
  -webkit-animation: zoomUp 0.4s ease-in-out forwards;
          animation: zoomUp 0.4s ease-in-out forwards;
}

@-webkit-keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.upgrade_section .left_section h3 {
  font-weight: 600;
  color: #313a4d;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  letter-spacing: 0.3px;
  color: white;
}

.upgrade_section .left_section p {
  font-weight: 600;
  font-size: "Poppins", sans-serif;
  font-size: 13px;
  color: #7F8FA4;
  margin-bottom: 12px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.3px;
  margin-bottom: 0;
}

.upgrade_section .right_section .primium_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  background: #FFA101;
  padding: 10px;
  border-radius: 50%;
  -webkit-transition: 0.25s ease-in-out all;
  transition: 0.25s ease-in-out all;
}

.upgrade_section .right_section .primium_icon svg path {
  fill: white;
}

/*-------------------------------------------------------
                PROFILE/USER SECTION START
-------------------------------------------------------*/
/*-------------------------------------------------------
                 REMIND SECTION START
-------------------------------------------------------*/
.remind_section {
  width: 100%;
  margin-top: 30px;
}

.remind_section .main_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.remind_section .main_head h3 {
  font-weight: 700;
  font-size: 18.5px;
  color: #485365;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.3px;
}

.remind_section .main_head p {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7px;
  color: #FFA101;
  font-size: 13px;
}

.remind_section .main_head p i {
  -webkit-text-stroke: 0.4px white;
}

.notification_list {
  margin-top: 20px;
}

.notification_list .single_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 23px;
}

.notification_list .single_list:not(:first-child) {
  margin-top: 26px;
}

.notification_list .single_list .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45px;
  height: 45px;
  background-color: #eee;
  border-radius: 15px;
}

.notification_list .single_list .msg_area h3 {
  font-weight: 700;
  font-size: 15px;
  color: #485365;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.3px;
  margin-bottom: 5px;
}

.notification_list .single_list .msg_area p {
  margin-bottom: 0 !important;
  font-weight: 600;
  font-size: "Poppins", sans-serif;
  font-size: 13px;
  color: #7F8FA4;
  margin-bottom: 12px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.3px;
  letter-spacing: 0;
  font-weight: 500 !important;
}

.notification_list .single_list:nth-child(1) .icon {
  background-color: #f3516138;
}

.notification_list .single_list:nth-child(1) .icon i {
  color: #F35162;
  font-size: 22px;
}

.notification_list .single_list:nth-child(2) .icon {
  background-color: #ffa20128;
}

.notification_list .single_list:nth-child(2) .icon i {
  color: #FFA101;
  font-size: 22px;
}

.notification_list .single_list:nth-child(3) .icon {
  background-color: #f3516138;
}

.notification_list .single_list:nth-child(3) .icon i {
  color: #F35162;
  font-size: 22px;
}

/*-------------------------------------------------------
                 REMIND SECTION END
-------------------------------------------------------*/
.mobile_toggle_menu {
  position: absolute;
  right: 20px;
  top: 14px;
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background: white;
  -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: none;
}

.mobile_toggle_menu i {
  font-size: 22px;
  color: #6b6b6b;
  -webkit-text-stroke: 0.5px white;
}

.mobile_toggle_menu.active i::before {
  content: '\f00d';
  font-family: 'fontAwesome';
}

/*-------------------------------------------------------
                    PRELOADER-STYLE START
-------------------------------------------------------*/
.preloader__wrapper {
  min-height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 99999;
  background-color: white;
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.6s ease all;
  transition: 0.6s ease all;
}

.preloader__wrapper.bg_done {
  opacity: 0;
  visibility: hidden;
}

.preloader__wrapper .preloader__img {
  text-align: center;
  width: 130px;
  -webkit-transition: 0.6s ease all;
  transition: 0.6s ease all;
  -webkit-animation: fadeUpp 0.25s linear infinite alternate;
          animation: fadeUpp 0.25s linear infinite alternate;
  margin-bottom: 20px;
}

.preloader__wrapper .preloader__img.loader_done {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(1.8);
  transform: scale(1.8);
}

@-webkit-keyframes fadeUpp {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeUpp {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/*--- preloader ---*/
.pace {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
  -webkit-transform: translate3d(0, -50px, 0);
          transform: translate3d(0, -50px, 0);
  -webkit-transition: -webkit-transform .7s ease-out;
  transition: -webkit-transform .7s ease-out;
  transition: transform .7s ease-out;
  transition: transform .7s ease-out, -webkit-transform .7s ease-out;
}

.pace.pace-active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.pace .pace-progress {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 3px;
  background: #FFA101;
  pointer-events: none;
  border-radius: 3rem;
}

/*-------------------------------------------------------
                    PRELOADER-STYLE END
-------------------------------------------------------*/
/*-------------------------------------------------------
                MEDIA QUERY START
-------------------------------------------------------*/
@media (max-width: 1183px) {
  .dashboard_wrapper {
    padding: 0px 20px 0px 85px;
  }
  .dashbboard_left_wrapper {
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 1 100% !important;
            flex: 1 1 100% !important;
    max-width: 100% !important;
  }
  .dashboard_right_wrapper {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    -webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 0.25s ease-in-out all;
    transition: 0.25s ease-in-out all;
    display: none;
    -webkit-box-flex: unset !important;
        -ms-flex: unset !important;
            flex: unset !important;
    max-width: 350px !important;
    width: 100%;
  }
  .dashboard_right_wrapper.active {
    -webkit-transition: 0.25s ease-in-out all;
    transition: 0.25s ease-in-out all;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    display: block;
  }
  .mobile_toggle_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 0.1s linear all;
    transition: 0.1s linear all;
  }
}

@media (max-width: 767.9px) {
  .status_main .status_box {
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 1 calc(50% - 25px) !important;
            flex: 1 1 calc(50% - 25px) !important;
  }
  .side_bar_container {
    display: none !important;
  }
  .dashboard_wrapper {
    padding: 0px 20px 0px 20px;
  }
  .mobile_toggle_menu {
    left: 20px;
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  }
  .mobile_toggle_menu.active {
    -webkit-transform: translateX(80vw);
            transform: translateX(80vw);
  }
  .dashboard_right_wrapper {
    position: absolute;
    right: auto !important;
    left: 0 !important;
    max-width: 330px !important;
  }
  .dashboard_right_wrapper.active {
    -webkit-transition: 0.25s ease-in-out all;
    transition: 0.25s ease-in-out all;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    display: block;
  }
  .dash_header_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 18px;
    border-bottom: 1px solid #322a7d30 !important;
    margin-bottom: 10px;
  }
  .dash_header_container .sub_title {
    text-align: center;
  }
  .dash_status_container .sub_header {
    font-size: 15px !important;
    margin-bottom: 12px !important;
    padding-left: 5px !important;
  }
  .dashboard_left_section {
    padding: 23px 0px 23px 0 !important;
  }
}

@media (max-width: 568px) {
  .status_main .status_box {
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 1 100% !important;
            flex: 1 1 100% !important;
  }
}

/*-------------------------------------------------------
                MEDIA QUERY END
-------------------------------------------------------*/
/*# sourceMappingURL=main.css.map */